In [ ]:
#code to check a number is positive negative or zero
number = 5
if number>0:
    print("positive")
elif number<0: 
    print("negative")
else:
    print("zero")

positive

In [ ]:
#leap year
year = 2016

if (year%4== 0):
 if (year%100 == 0):
  if (year%400 == 0):
           print ("leap year")
  else:
      print("not a leap year")
 else:
  print("leap year")
else:
 print("not a leap year")

leap year

In [ ]:
# Greatest of two number
number1 = 24
number2 = 46
if(number1>number2):
 print("number1 is greater")
else:
 print("number2 is greater")

number2 is greater

In [ ]:
# greatest of three numbers
num1 = 22
num2 = 55
num3 = 26

if(num1>num2):
    if(num1>num3):
        print("num1 is greatest")
else:
    ("num3 is greatest")
    if(num2>num3):
        print("num2 is greatest")
    else:
        print("num3 is greatest")

num2 is greatest

In [ ]:
a = int(input('Enter the value of a '))
b = int(input('Enter the value of b '))
c = int(input('Enter the value of c '))

if(a>b and a>c):
    print("a is greatest")
elif(b>a and b>c):
 print("b is greatest")
        
else:
    print("c is greatest")

b is greatest

In [ ]:
# Student grade system
Grade = 90
if(Grade>=90):
    print("Grade A")
elif(Grade<90):
          print("Grade B")
elif(Grade<75):
            print("Grade C")
elif(Grade<60):
                print("Grade D")
else:
 (Grade<33)
 print("Fail")

Grade A

In [ ]:
'''For loop :- Start, stop, step

 Start = starting point of the loop iteration
 stop = Stopping point of loop works till n-1 always
 step = adds value to the start point what ever is given if step = 2 (n+2) '''

for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
#printing pattern *
 #                * *
  #               * * *
  #               * * * *
  #               * * * * *
#code

for i in range(1,6):
    print(' * '*i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [ ]:
# printing above pattern in reverse
s = 5
for i in range(1,6):
    print('   '*s, ' * '*i)
    s = s-1

                 *
              *  *
           *  *  *
        *  *  *  *
     *  *  *  *  *

In [ ]:
'''     *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * * '''
s = 5
for i in range(1,10,2):
    print('  '*s, ' *'*i)
    s= s-1

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *

In [ ]:
z = 0
for i in range(9,1,-2):
    print(''*z, '*'*i)
    z= z+1

 *********
 **********
 ***********
 ************
 *************
 **************
 ***************
 ****************
 *****************
 ******************

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
       print(j,end ='')
    print()

1
12
123
1234
12345

In [ ]:
for i in range(1,6):
    for j in range(1,i-10):
       print(j,end ='')
    print()

1
12
123